body {
    background-image: url(/static/images/home-banner.jpg);
    background-color: #fff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    text-align: center;
    color: black;
}

.navbar {
    position: relative;
    /* position: fixed; */
    /* margin: -10px 100px 0px;  */
}


/*.collapse {
    padding: 0px 30px;
    margin: 100%;
}
*/

.nav-item {
    padding: 0 80px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

h1 {
    margin: 0% 20% 0%;
    text-align: center;
    /*background-color:grey;*/
}

h3 {
    border-radius: 10%;
    text-align: center;
    background-color: grey;
    margin: 40px 30% 40px;
}

.div-box {
    background-color: #d9dce0;
    margin: 1% 20% 10%;
    padding: 0px 0px 50px;
    text-align: center;
    border-style: outset;
}

form {
    text-align: justify-all;
    margin: 0%;
}

a {
    width: 20%;
    text-align: center;
    margin: 0% 40%;
}

p {
    color: grey;
}

.btn {
    text-align: center;
    align-self: center;
}

.goback-btn {
    margin: 0% 0%;
}