{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Patient Login</title>
  <!-- to make the website Responsive , adaptable with any device  we have too use the following code-->
  <meta name="viewer" content="width=device-width, initial-scale=1.0">

<!---------------------------changes here----------------------------->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<!---------------------------------------------------------->

  <!--for changinge the font size - from fonts.google.com -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

  <!-- css stylesheets -->
  <!-- the  following is  Bootstrap css code  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/doctors/style.css' %}">

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/549260f95f.js" crossorigin="anonymous"></script>

  <!-- the  following is  Bootstrap JavaScript code  -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</head>

<style>

.bgimg {
  background-position: center;
  background-size: cover;
 background: url({% static '/images/1.jpg' %})  50% 50%;   background-size:cover;
  min-height: 75%;
}

.menu {
  display: none;
}
</style>
<body>

<!-- Links (sit on top) -->
{% comment %} <div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
    </div>
    <div class="w3-col s3">
      <a href="#menu" class="w3-button w3-block w3-black">Patient Login</a>
    </div>
    <div class="w3-col s3">

    </div>
  </div>
</div> {% endcomment %}

{% comment %} <!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag"></span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-black" style="font-size:45px">Machine learning methods for disease prediction with claims data <br>

</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-white"></span>
  </div>
</header> {% endcomment %}


  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column flex-md-row bd-navbar">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item nav-header">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item nav-header">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item nav-header">
            <a class="nav-link" href="#">ViewDetails</a>
          </li>
          <li class="nav-item nav-header">
            <a class="nav-link" href="/doctors/accountUpdate">Update_Account</a>
          </li>
          <li class="nav-item nav-header">
            <a class="nav-link " href="/doctors/home">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>


  {% comment %} {% if user.is_authenticated %}
  <li class="message main_btn">Hello, {{user.first_name}}</li>
  <!-- <a class="main_btn" href="/doctors/moduleContains">moduleContains</!>  -->
  {% endif %} {% endcomment %}

  {% comment %} <h1>Module Contains</h1> {% endcomment %}
  <h1></h1>
  {% if user.is_authenticated %}
  <li class="message main_btn">Hello, {{user.first_name}}</li>
  {% endif %}

{% comment %}
<!-- clock-->
		<h3><a style="text-decoration:none;"  >  </h3> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=medium&timezone=Asia%2FKolkata" width="100%" height="115" frameborder="0" seamless></iframe> {% endcomment %}

    <div class="div-box">
      <h1>Patient Infomation</h1>
      {% comment %} {% if user.is_authenticated %}
      <li class="message main_btn">Hello, {{user.first_name}}</li> {% endcomment %}
      <!-- <a class="main_btn" href="/doctors/moduleContains">moduleContains</!>  -->


      {% comment %} <h3 class="border rounded-pill rounded-lg">Prediction for</h3> {% endcomment %}
      <h3></h3>

      <div class="nav-item">
      <p>Genarated Id</p>
        <a class=" btn btn-outline-primary btn-lg nav-link">{{patientdetails.id}}</a>
      </div><br><br>

      <div class="">
      <p>Patient AID</p>
        <a class=" btn btn-outline-primary btn-lg nav-link">{{patientdetails.AID}}</a>
      </div><br><br><br>

      <div class="">
        <p>Patient Name</p>
        <a class=" btn btn-outline-primary btn-lg nav-link">{{patientdetails.name}}</a>
      </div><br><br><br>

       <div class="">
        <p>Patient Email</p>
        <a class=" btn btn-outline-primary btn-lg nav-link">{{patientdetails.email}}</a>
      </div><br><br><br>

       <div class="">
        <p>Patient Age</p>
        <a class=" btn btn-outline-primary btn-lg nav-link">{{patientdetails.age}}</a>
      </div><br><br><br>

       <div class="">
        <p>Patient Gender</p>
        <a class=" btn btn-outline-primary btn-lg nav-link">{{patientdetails.gender}}</a>
      </div><br><br><br>

       <div class="">
        <p>Patient Type</p>
        <a class=" btn btn-outline-primary btn-lg nav-link">{{patientdetails.type}}</a>
      </div><br><br><br>

       <div class="">
        <p>Patient Stage</p>
        <a class=" btn btn-outline-primary btn-lg nav-link">{{patientdetails.stage}}</a>
      </div><br><br><br>

       <div class="">
        <p>Patient treatment</p>
        <a class=" btn btn-outline-primary btn-lg nav-link">{{patientdetails.treatement}}</a>
        {% comment %} {% endif %} {% endcomment %}
      </div>
    <!-- Contact/Area Container -->
<div class="w3-container" id="where" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide"></span></h5>
    <p></p>


    <button center="center" type="submit">Downlad</button>
    {% comment %} <p>A relative URL: <a href="tag_a.asp">The a tag</a></p>
    <a href="http://127.0.0.1:8000/doctors/copdresults.html">Check</a> {% endcomment %}
    <marquee><h3>{{message}}</h3></marquee>
  </div>
<div class="container">

  </div>

  </div>
</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">

</footer>



<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>
</body>

</html>


